body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f5f5f5;
}
.main {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.main-block {
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: center;
}

.text-block {
    background-color: white;
    width: 300px;
    height: auto;    
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.text-block>h2 {
    font-size: 28px;
    border-left: 5px solid #7724e2;
    background-color: #ecf0f1;
    padding: 10px 15px;
}

.photo-container {
    background-color: #ecf0f1;
    border-radius: 8px;
    margin: 20px;
    display: flex;
    justify-content: center;
}