body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f5f5f5;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    border-bottom: 3px solid red;
    padding-bottom: 10px;
    margin-top: 30px;
}

h3 {
    color: rgb(252, 102, 102);
    font-size: 22px;
}

.main {
    display: flex;
    width: 100%;
    position: relative;
}

.main-block {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    
}

.text-block {
    background-color: white; 
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    border-left: 5px solid red;
    background-color: #ecf0f1;
    padding: 10px 15px;
}

.text-block>ul {
    padding-left: 25px;
    list-style-type: square;
}

.photo-container {
    background-color: #ecf0f1;
    border-radius: 8px;
    border: 1px solid #bdc3c7;
    padding: 20px;
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.photo-container>img {
    width: auto;
    height: 250px;
}